
:root {
    --first-color: #7180ac;
    --second-color: #2B4570;
    --third-color: #A8D0DB;
    --fourth-color: #E49273;
    --fifth-color: #A37A74;
    --sixth-color: #EB8A90;
    --button-font-weight: 650;
    --link-font-weight: 800;
    --body-font-size: 1rem;
}

body {
    background-color: var(--sixth-color);
    font-size: var(--body-font-size);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
a {
    text-decoration: none;
    color: inherit;
}  
  p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }