*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #F2FBEF;
    --second-color: #92ad94;
    --third-color: #748b75;
    --fourth-color: #503d42;
    --fifth-color: #84c318;
    --button-font-weight: 650;
    --link-font-weight: 800;
    --body-font-size: 16px;
}

body {
    background-color: var(--second-color);
    font-size: var(--body-font-size);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }


.container, .main-nav, .nav-list {
    display: flex;
}

.container {
    flex-direction: column;
    border-bottom: 3px solid;
}

.container > footer {
    margin-top: 1rem;
    border-top: 3px solid black;
    padding: 0.8rem;
    text-align: center;
    font-size: 0.7rem;
    background-color: var(--fourth-color);
    color: var(--first-color);
}

/* Style the navigation */
.main-nav {
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--fourth-color);
    align-items: center;
    border-bottom: 5px outset;
    min-height: 10vh;
    margin-bottom: 0.8rem;
}


.main-nav h1 {
margin-left: 2rem;
}

.main-nav a {
    text-decoration: none;
    color: var(--fifth-color);
}

.main-nav a:visited {
    color: var(--third-color);
}
.main-nav a:focus,.main-nav a:hover {
    text-underline-offset: 0.6rem;
    text-decoration: underline wavy;
    text-decoration-color: var(--fifth-color);

  }
.main-nav a:active {
    text-decoration: line-through double var(--third-color) 0.2rem;
}

.nav-list {
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    list-style-position: inside;
    margin-right: 0.6rem;
}

.nav-list li {
    padding: 0.6rem;
}

/* Navigation Style Ends Here */


/* Style the POst div */
.post-div {
    text-align: left;
    padding: 0.6rem;
}
/* End STyle for post div */

/* Post List Style */
.post-container {
    border-bottom: 2px solid var(--fourth-color);
    margin-top: 1rem;
}

.post-container h2, .post-container p, .post-container footer {
    margin-top: 0.6rem;
}

.post-container p {
    margin-bottom: 1.2rem;
}

.post-container footer {
    text-align: right;
}

/* End POst List Style */

/* Button Styling */
.btn {
    padding: 0.4rem 0.6rem;
    border-radius: 1rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    text-align: center;
    font-weight: var(--button-font-weight);
    width: 9rem;
    height: 3rem;
}

.btn-detail {
    border: 3px solid var(--third-color);
    
}

.btn-edit {
    border: 3px ridge var(--fourth-color);
}

.btn-delete {
    border: 3px solid maroon;
}

.btn-detail, .btn-edit, .btn-delete {
    background-color: var(--fourth-color);
}

.btn-create {
    background-color: var(--third-color);
    border: 6px dashed var(--fourth-color);
}

.btn-submit {
    border: 6px double var(--fifth-color);
    background-color: var(--first-color);
}

.btn-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.container > .btn {
    align-self: flex-end;
    margin-right: 1rem;
}
/* End Button Styling */

/* Style Detail Div */
.detail-div p {
    margin-bottom: 2rem;
}