<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Sign-In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body style="color: #2B4570;">
    <section class='form-section'>
        <img src='{% static 'images/zane-lee-p5bRngFI7ws-unsplash.jpg' %}'>
        <div class='form-div'>
            <h2 style="text-align: center;">User Sign-In</h2>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <p style="margin-left: 2rem; color:aquamarine;"><a href='{% url 'post:forgot_password' %}'>Forgot password?</a></p>
                <input type="submit" value="Sign In" class='btn btn-submit'>
            </form>
            <p style="padding: 2rem;">Don't have an account? <a href="#">Register.</a></p>
        </div>
    </section>
</body>

</html>