<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
    {% endblock title %}</title>

    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static 'styles/styles.css' %}'>
</head>

<body>
    <div class="container">
        {% include "navbar.html" %}

        {# Display this button only on the home page #}
        {% if request.path == "/" %}
        <button class='btn btn-create'><a href='{% url 'post:post-create' %}'>Add Post <i class='fas fa-plus-circle'></i></a></button>
        {% endif %}    
        
        <div class="post-div">
        {% block posts %}
        
        {% endblock posts %}
        </div>
        {% include 'footer.html' %}
    </div>
    
    <script src="https://kit.fontawesome.com/310156fd9b.js" crossorigin="anonymous"></script>
    <script src='{% static 'scripts/script.js' %}'></script>
    </body>

</html>