<nav class="main-nav">
            
            <h1><a href='{% url 'post:index' %}'>Blog</a></h1>

{% comment %} <i class="fas fa-bars"></i> {% endcomment %}
<i class="fas fa-hamburger nav-btn"></i>
            <ul class='nav-list'>
                {% if user.is_authenticated %}
                {# Display username and Sign-Out Button when user is authenticated #}
                <li>Logged in as {{user.username}}<li/>
                <li><a href='{% url 'post:logout' %}'>Sign Out</a></li>
                {% else %}
                <li><a href='{% url 'post:register-user' %}'>Register</a></li>
                <li><a href='{% url 'post:user-login' %}'>Sign In</a></li>
                {% endif %}
                {% comment %} <li>About</li>
                <li>Contact Us</li> {% endcomment %}
            </ul>
 </nav>