{% extends 'base.html' %}

{% block title %}
Blog Posts
{% endblock title %}
{% block posts %}

{% for post in posts %}
<div class="card col-md-5 mx-auto mb-2 p-2 col-sm-12">
    <img class='card-img-top' src="{{ post.image.url }}" alt="{{post.title|title}}" class="responsive-img">
<div class='card-body'>
    <h2 class='card-title'>{{post.title|title}}</h2>
    <p class='card-text'>{{post.get_summary}}</p>
<button class='btn btn-primary'><a href=' {% url 'post:post-detail' post.pk %}'>See More <i
                class="fas fa-angle-double-right"></i></a></button>
</div>
    
    <div class='card-footer'>{{post.updated}}</div>
</div>
{% endfor %}

{% endblock posts %}